{% extends 'base.html.twig' %}

{% block title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block body %}
    <p>Comment allez vous</p>
    {% if age>=18  %}
        <p>Vous êtes un adulte</p>
    {% else %}
        <p>Vous êtes un enfant</p>
    {% endif %}

    {% for prenom, age in tableau %}
        <p>(itération numéro {{ loop.index0 }}) : {{  prenom }}</p>
        {% if age>=18  %}
            <p>est un adulte</p>
        {% else %}
            <p>est un enfant</p>
        {% endif %}
    {% endfor %}

    <a href="{{ path('hello', {'prenom': 'bob'}) }}">Aller voir hello !!</a>
{% endblock %}

